# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
.idea/

# Env
.env
.env.local

# Node (if ever needed)
node_modules/

# Build artifacts
*.log

# Temp
tryanderror.html
client_secret_586982668763-qu54uu21lp9edaqhuoketkhakb8t25m8.apps.googleusercontent.com.json
gcs_auth.py
seo_check.py
token.json
gcs_test.py
